[submodule ".config/kitty/kittens/vim-kitty-navigator"]
	path = .config/kitty/kittens/vim-kitty-navigator
	url = https://github.com/knubie/vim-kitty-navigator
[submodule ".vim/pack/tpope/start/vim-sensible"]
	path = .vim/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/pack/tpope/start/vim-repeat"]
	path = .vim/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/tpope/start/vim-surround"]
	path = .vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/tpope/start/vim-unimpaired"]
	path = .vim/pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/tpope/start/vim-commentary"]
	path = .vim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/embark-theme/start/vim"]
	path = .vim/pack/embark-theme/start/vim
	url = https://github.com/embark-theme/vim
[submodule ".vim/pack/itchyny/start/lightline.vim"]
	path = .vim/pack/itchyny/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
