auth.json
*.log
/.warp/launch_configurations/*.yaml
.tmux/plugins

/.config/containers
/.config/dlv
/.config/btop
/.config/iterm2
/.config/go
/.config/swiftpm
/.config/gh
/.config/zed/conversations
/.config/zed/prompts

.local/*
!.local/share
.local/share/*
!.local/share/nvim
.local/share/nvim/*
!.local/share/nvim/site
.local/share/nvim/site/*
!.local/share/nvim/site/autoload
.DS_Store
