/.config/containers
auth.json
*.log
/.warp/launch_configurations/*.yaml
/.config/dlv
.tmux/plugins
/.config/iterm2
/.config/go
/.config/swiftpm
.local/*
!.local/share
.local/share/*
!.local/share/nvim
.DS_Store
