[core]
    excludesfile = /Users/sharranm/.gitignore_global
[user]
    name = Sharran 
    email = sharran.murali@gmail.com
[commit]
    template = /Users/sharranm/.stCommitMsg
[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
[includeIf "gitdir:~/projects/work/"]
    path = .gitconfig-work
[credential]
# ssh key ~/.ssh/id_rsa
    helper = osxkeychain
